# R package build artifacts
*.Rcheck/
*.tar.gz

# RStudio project files
*.Rproj
.Rproj.user/

# R session files
.Rhistory
.Rdata
.RData
.httr-oauth

# OS files
.DS_Store
Thumbs.db
nul

# Test VCF files
chr1.vcf
chr1.vcf.gz
chr1.vcf.gz.tbi
chr1.old.vcf

# Byte-compiled / optimized
*.Rproj.user
