on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (R ${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,  r: 'release'}
          - {os: windows-latest, r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Set up Bioconductor repositories
        run: |
          install.packages("BiocManager", repos = "https://cloud.r-project.org")
          BiocManager::install(version = BiocManager::version(), ask = FALSE, update = FALSE)
        shell: Rscript {0}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install Bioconductor dependencies
        run: |
          BiocManager::install(
            c("VariantAnnotation", "Rsamtools", "BiocParallel",
              "GenomicRanges", "SummarizedExperiment", "GenomeInfoDb",
              "IRanges", "Biostrings", "BiocGenerics"),
            ask = FALSE, update = FALSE
          )
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual", "--as-cran")'
          error-on: '"error"'
          upload-snapshots: true
